In [1]:
dict = {"name": "Alice", "age": 30, "city": "New York"}
type(dict)

dict

In [2]:
d1 ={"India": "New Delhi", "USA": "Washington D.C.", "Japan": "Tokyo"}
type(d1)

dict

In [3]:
len(d1)

3

In [4]:
# Accessing values using keys
d1["India"]

'New Delhi'

In [5]:
d1["USA"] ="Dollar"

In [6]:
d1

{'India': 'New Delhi', 'USA': 'Dollar', 'Japan': 'Tokyo'}

In [7]:
d1["New Zealand"] = "Wellington"
d1

{'India': 'New Delhi',
 'USA': 'Dollar',
 'Japan': 'Tokyo',
 'New Zealand': 'Wellington'}

In [8]:
len(d1)

4

In [9]:
# Deleting a key-value pair
del d1["USA"]
d1

{'India': 'New Delhi', 'Japan': 'Tokyo', 'New Zealand': 'Wellington'}

In [10]:
# Sorting a dictionary
sorted(d1)

['India', 'Japan', 'New Zealand']

In [11]:
d1["Japan"]

'Tokyo'

In [12]:
# values() method
d1.values()

dict_values(['New Delhi', 'Tokyo', 'Wellington'])

In [13]:
# keys() method
d1.keys()

dict_keys(['India', 'Japan', 'New Zealand'])

In [14]:
# update() method
d1.update({"India":"INR"})

In [15]:
d1

{'India': 'INR', 'Japan': 'Tokyo', 'New Zealand': 'Wellington'}

In [16]:
print("The End")

The End