### **even or odd**

In [1]:
def even_odd(num):
    if num % 2 == 0:
        print(num, "is an even number")
    else:
        print(num, "is an odd number")

In [2]:
even_odd(25)

25 is an odd number

In [3]:
even_odd(50)

50 is an even number

### **factorial**

In [4]:
def fact_number(n):
    fact = 1

    for i in range(1,n+1):
        fact = fact*i
    return fact

In [5]:
fact_number(5)

120

In [6]:
fact_number(6)

720

### **Sum of all natural numbers till the number provided**

In [7]:
def sum_natural(n):
    num = 0

    for i in range(1, n+1):
        num = num+i

    return num

In [8]:
sum_natural(5)

15

In [9]:
sum_natural(8)

36

In [10]:
def funct_1(name,age):
    print("name: ",name)
    print("age: ",age)

In [11]:
funct_1("Ravi", 25)

name:  Ravi
age:  25

In [13]:
def funct_1(name,age=26):
    print("name: ",name)
    print("age: ",age)

In [14]:
funct_1("Muskan")

name:  Muskan
age:  26

### **Lambda Functions**

#### **Create a lambda function that adds 10 to the number passed as an arguement, and print the result**

In [15]:
x = lambda a: a+10

In [16]:
print(x(5))

15

In [17]:
print(x(10))

20

#### **Create a lambda function that checks number is even or odd**

In [21]:
x = lambda a: " This is an even number " if a % 2 == 0 else "This is an Odd number"

In [22]:
print(x(101))

This is an Odd number

In [23]:
print(x(30))

 This is an even number

#### **Create a lambda function that adds two integers**

In [24]:
x = lambda a,b: a+b

In [25]:
print(x(4,5))

9

In [26]:
print(x(10,20))

30

In [27]:
print("The End")

The End