### **Loops**

### **Check whether a number is even or odd**

In [3]:
x = 101
if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

101 is an odd number

In [4]:
x = 90
if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

90 is an even number

In [6]:
x = int(input("Enter a number: "))
if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

100 is an even number

### **Allow greater than 18 & less than 50 years of age**

In [7]:
x = int(input("Enter your age"))
if x < 18 or x > 50:
    print("Sorry you are not allowed in the party")
else:
    print("Welcome to the party")

Sorry you are not allowed in the party

### **Program to provide discounts and offer**

In [8]:
shopping_amt = int(input("Input your billed amount"))

if shopping_amt >= 5000:
    print("You have won a voucher of 1000")
elif shopping_amt >= 2500:
    print("You have won avoucher of 500")
else:
    print("OOPS No vouchers")

You have won a voucher of 1000

### **Iterations**

In [9]:
## Iterate over a list of integers

list = [10,20,30,40,50]
for  i in list:
    print(i)

10
20
30
40
50

In [10]:
## Iterate over a string
str = "Hello"
for i in str:
    print(i)

H
e
l
l
o

In [11]:
## Iterate over a dictionary

student_data = {1: ["Sam",25], 2: ["Sharma",22], 3:["Ravi", 23],4: ["Shalu",30]}
for i  in student_data:
    print(i)

1
2
3
4

In [12]:
## Iterate over a dictionary

student_data = {1: ["Sam",25], 2: ["Sharma",22], 3:["Ravi", 23],4: ["Shalu",30]}
for i  in student_data.items():
    print(i)

(1, ['Sam', 25])
(2, ['Sharma', 22])
(3, ['Ravi', 23])
(4, ['Shalu', 30])

In [14]:
## Iterate over a dictionary

student_data = {1: ["Sam",25], 2: ["Sharma",22], 3:["Ravi", 23],4: ["Shalu",30]}
for i , j in student_data.items():
    print(j)

['Sam', 25]
['Sharma', 22]
['Ravi', 23]
['Shalu', 30]

In [15]:
for i in student_data:
    print(i)

1
2
3
4

In [16]:
## Iterate over a range of values

for i in range(1,5):
    print(i)

1
2
3
4

### **Comprehensions**

In [19]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(i)
print(list_2)

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

In [20]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(len(i))
print(list_2)

[11, 5, 4, 6, 3]

In [21]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = [len(i) for i in list_1]

print(list_2)

[11, 5, 4, 6, 3]

In [22]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

d = {i: len(i) for i in list_1}

d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}

In [23]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

d = {}

for i in list_1:
    d[i] = len(i)

d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}

In [24]:
print("The End")

The End